<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Relative path where your website files are located -->
    <!--Example : ./WebSite or ../src/WebApp -->
    <add key="ServerPhysicalPath" value=".\"/>
    
    <!--Your HomePageFileName. YouWebIt search for : default.aspx, Default.aspx, Default.html, default.html, Index.html, index.html. -->
    <add key="HomePageFileName" value="admingiris.aspx"/>

    <!--Webserver Port. Use this if yo want to allways use the same port number.-->
    <add key="ServerPort" value="22431"/>
</appSettings>
</configuration>